body {
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    font-size: 35px;
    list-style-type: none;
    display: flex;
    text-align: left;
    flex-direction: row;
    background-color: gray;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}

h1:nth-of-type(1) {
    text-align: center;
    font-size: 48px;
}

h2:nth-of-type(1) {
    font-size: 34px;
    text-align: left;
}